{% extends 'base.j2' %}
{% block content %}
<nav>
    <a href="#" id="light-icon"><i class="fa-solid fa-lightbulb"></i></a>
    <a href="#" id="dark-icon"><i class="fa-solid fa-moon"></i></a>
</nav>
<header>
     <h1>PDF Generator</h1>
</header>
 <div id="container">
    <p>Create a PDF from your text</p> 
   <form method="post">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
     <input type="text" name="filename" placeholder=" Give your PDF a filename" required><br>
     <textarea name="body" name="body[]" placeholder=" Give it some text"></textarea><br>
   </form>
   <button id="addButton"><i class="fa-solid fa-file"></i> Add another text field</button>
   <button type="submit" id="createPDF" name="createPDF"><i class="fa-solid fa-file"></i> Create PDF</button>
</div>
{% endblock %}
